body{
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to bottom right, #b388ff, #7e57c2);
  min-height: 100vh;
  color: #fff;
}

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.title-box{
  background: rgba(255,255,255,0.15);
  padding: 14px 30px;
  border-radius: 20px;
  border: 2px solid rgba(255,255,255,0.4);
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.3);
}

.search-box{
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}

.city-input{
  padding: 12px;
  width: 260px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: 
  inset 4px 4px 10px rgba(0,0,0,0.2),
  inset -4px -4px 10px rgba(255,255,255,0.3);
}

.search-btn{
  padding: 12px 18px;
  background: #fff;
  color: #673ab7;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 22px;
  box-shadow: 
  4px 4px 12px rgba(0,0,0,0.25),
  -4px -4px 12px rgba(255,255,255,0.3);
}

.search-btn:hover { transform: scale(1.05); }

.weather-card {
  width: 380px;
  padding: 30px;
  text-align: center;
  border-radius: 30px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.35);
  margin-top: 20px;
  box-shadow: 
  8px 8px 20px rgba(0,0,0,0.3),
  -8px -8px 20px rgba(255,255,255,0.25);
}

.weather-icon { width: 140px; height: 140px; }
.weather-temp { font-size: 60px; margin-top: 10px; font-weight: bold; }
.weather-desc { text-transform: capitalize; margin-bottom: 15px; color: #f3e5f5; }
.weather-details p { margin: 6px 0; font-size: 18px; }

.weather-clear { background: linear-gradient(to bottom right,#ffe082,#ffc002); color:#4e342e; }
.weather-clouds { background: linear-gradient(to bottom right,#cfd8dc,#b0bec5); color:#263238; }
.weather-rain { background: linear-gradient(to bottom right,#90caf9,#64b5f6); color:#0d47a1; }
.weather-snow { background: linear-gradient(to bottom right,#e1f5fe,#b3e5fc); color:#003f5c; }
.weather-mist { background: linear-gradient(to bottom right,#e0e0e0,#bdbdbd); color:#424242; }
.weather-thunderstorm { background: linear-gradient(to bottom right,#7b1fa2,#4a148c); color:#fff; }
.weather-smoke { background: linear-gradient(to bottom right,#d7ccc8,#bcaaa4); color:#4e342e; }